{% extends 'music/base.html' %}
{% block tittle %}Album Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}"style="width: 250px;">

    <h1>{{ album.album_tittle }}</h1>
    <h2>{{ album.artist }}</h2>

        {%  for song in album.song_set.all %}
                {{ song.song_tittle }}
                {% if song.is_favorite %}
                    <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/heart-icon.png" width="13px" height="13px" />
                {% endif %}
            <br>
        {% endfor %}
{% endblock %}